.list {
  padding-left: 0;
  list-style: none;
}

.list li:nth-of-type(2n) {
  background-color: #d2d7db;
}

.error {
  color: red;
  padding: 0 1rem;
}

.padding {
  padding: 0 1rem;
}

.link {
  color: #2c3e50;
  text-decoration: none;
}
